<%= form_for(@inventory) do |f| %>
  <% if inventory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(inventory.errors.count, "error") %> prohibited this inventory from being saved:</h2>

      <ul>
      <% inventory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div align="center" class="field">
    	<%= f.label :category_id %>
    	<%= f.collection_select :category_id, Category.all , :id, :name %>
    </div>

    <br>
    <div align="center" class="field">
      <%= f.label :iname, "재고 명" %>
      <%= f.text_field :iname %>
      <%= f.label :inputID, "고유 번호" %>
      <%= f.text_field :inputID %>
      <%= f.label :text, "설명" %>
      <%= f.text_field :text %>
    </div>

    <div align="center" class="actions">
      <button type="submit" class="btn btn-default">저 장</button> | <a href="/setting_page"><button type="button" class="btn btn-default">뒤로 가기</button></a>
    </div>
<% end %>
