<%= form_for(inventory) do |f| %>
  <% if inventory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(inventory.errors.count, "error") %> prohibited this inventory from being saved:</h2>

      <ul>
      <% inventory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  	<%= f.datetime_field :created_at %>
    <%= f.label :iname %>
    <%= f.text_field :iname %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
