<%= form_for(@inventory) do |f| %>
  <% if inventory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(inventory.errors.count, "error") %> prohibited this inventory from being saved:</h2>

      <ul>
      <% inventory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= field_set_tag '카테고리 선택' do %>

      <div class="field">
      	<%= f.label :category_id %>
      	<%= f.collection_select :category_id, Category.all , :id, :name %>
      </div>

  <% end %>

  <div class="field">
    <%= f.label :iname %>
    <%= f.text_field :iname %>
    <%= f.label :inputID %>
    <%= f.text_field :inputID %>
    <%= f.label :text %>
    <%= f.text_field :text %>
  </div>

  <div class="actions">
    <%= f.submit '저 장', data: { confirm: '저장 하시겠습니까?', disable_with: '처리중...'} %> | <button type="button" class="btn btn-default"><%= link_to 'Back', '/setting_page' %></button>
  </div>
<% end %>
