<p id="notice"><%= notice %></p>

	<div class="container">
		<h1 class="bg-info" align="center">분류명 목록</h1>


				<table class="table table-hover">
					<thead>
						<tr>
							<th>분류 명</th>
		    		</tr>
					</thead>

					<tbody>
						<% @categories.each do |category| %>
						<form action="categories/<%= category.id %>" method="post">
		  				<tr>
		  					<td><%= category.name %></td>
								<td align="right">
									<a data-confirm="정말로 삭제하시겠습니까?" data-method="delete" href="/categories/<%= category.id %>" rel="nofollow">삭제</a>
								</td>
		  				</tr>
							</form>
		    		<% end %>
					</tbody>
				</table>
				<div class="digg_pagination">
					<div class="page_info">
						<%= page_entries_info @categories %>
					</div>
					<%= will_paginate @categories, :container => false %>
				</div>
				<div align="center">
      		<a href="/category_write"><button type="button" class="btn btn-default">카테고리 등록</button></a> | <a href="/."><button type="button" class="btn btn-default">처음으로</button></a>
				</div>
