<p id="notice"><%= notice %></p>
	<div class="container">
		<h1 class="bg-info" align="center">재고 리스트</h1>
	</div>
	
	<div class="container">
		<fieldset>
			<legend>분 류</legend>
				<h4>
					| <% @categories.each do |c| %>
					<a href="/index_category/<%= c.id %>">| <%= c.name %> |</a>
					<% end %>|
				</h4>
		</fieldset>
		<br>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>ID</th>
					<th>생성일</th>
      				<th>재고 품명</th>
      				<th colspan="1"></th>
    			</tr>
			</thead>
			<tbody>				
				<% @inventories.each do |inventory| %>
				<h5><a href="/inventories/<%= @indexcategory %>"></h5>
      				<tr>
      					<td><%= inventory.id %></td>
      					<td><%= inventory.created_at.strftime( '%Y년 %m월 %d일' ) %></td>
        				<td><%= inventory.iname %></td>
        				<td align="right"><button type="button"  class="btn btn-info"><%= link_to '보기', inventory %></button></td>
      				</tr>
    			<% end %>
			</tbody>
		</table>
		<%= will_paginate @inventories %>
	</div>