<p id="notice"><%= notice %></p>

	<div class="container">
		<h1 class="bg-info" align="center"><%= @categories_title %>의 재고 리스트</h1>
	</div>
	<div class="container">
		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" href="#categories">분류 목록</a>
					</h4>
				</div>

				<div id="categories" class="panel-collapse collapse">
					<ul class="list-group">
							<li class="list-group-item"><a href="/inventories">ALL</a></li>
						<% @categories.each do |c| %>
							<li class="list-group-item"><a href="/index_category/<%= c.id %>"> <%= c.name %> </a></li>
						<% end %>
					</ul>
					<div class="panel-footer"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>ID</th>
					<th>생성일</th>
  				<th>재고 품명</th>
					<th>현 재고 중량(단위:kg)</th>
  				<th colspan="1"></th>
    			</tr>
			</thead>
			<tbody>
				<% @inventories.each do |inventory| %>
  				<tr>
  					<td><%= inventory.id %></td>
  					<td><%= inventory.created_at.strftime( '%Y년 %m월 %d일' ) %></td>
    				<td><%= inventory.iname %></td>
						<td><%= inventory.iST_KG %></td>
    				<td align="right"><button type="button"  class="btn btn-info btn-xs"><%= link_to '보기', inventory %></button></td>
  				</tr>
  			<% end %>
			</tbody>
		</table>
		<div class="digg_pagination">
			<div class="page_info">
				<%= page_entries_info @inventories %>
			</div>
			<%= will_paginate @inventories, :container => false %>
		</div>
	</div>
