<p id="notice"><%= notice %></p>

	<div class="container">
		<h1 class="bg-info" align="center">설정 페이지</h1>
			<div class="panel-group">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" href="#pcategories">분류 목록</a>
						</h4>
					</div>

					<div id="pcategories" class="panel-collapse collapse">
						<ul class="list-group">
							<table class="table table-bordered">
								<tbody>
									<tr>
										<td align="center"><a href="/setting_page">ALL</a></td>
										<% @categories.each do |c| %>
										<td align="center"><a href="/setting_category/<%= c.id %>"> <%= c.name %> </a></td>
										<% end %>
									</tr>
								</tbody>
							</table>
						</ul>
						<div class="panel-footer"></div>
					</div>
				</div>
			</div>
		</div>

			<table class="table table-hover">
				<thead>
					<tr>
						<th>재고품명</th>
						<th>생성일</th>
	  				<th>Input ID</th>
	  				<th>Category ID</th>
	  				<th>메모</th>
	  				<th colspan="1"></th>
	    		</tr>
				</thead>

				<tbody>
					<% @inventories.each do |inventory| %>
	  				<tr>
	  					<td><%= inventory.iname %></td>
	  					<td><%= inventory.created_at.strftime( '%Y년 %m월 %d일' ) %></td>
	    				<td><%= inventory.inputID %></td>
	    				<td><%= inventory.category_id %></td>
	    				<td><%= inventory.text %></td>
	    				<td align="right"><button type="button" class="btn btn-success btn-xs"><%= link_to '수정', edit_inventory_path(inventory) %></button>
	    					  <button type="button" class="btn btn-warning btn-xs"><%= link_to '삭제', inventory, method: :delete, data: { confirm: '정말 삭제하시겠습니까?' } %></button></td>
	  				</tr>
	    		<% end %>
				</tbody>
			</table>
			<div class="digg_pagination">
				<div class="page_info">
					<%= page_entries_info @inventories %>
				</div>
				<%= will_paginate @inventories, :container => false %>
			</div>
		</div>

		<br>
		<div align="center">
			<a href="/inventories/new"<button type="button" class="btn btn-default">재고 등록</button></a> | <a href="/."><button type="button" class="btn btn-default">처음으로</button></a>
		</div>
