<p id="notice"><%= notice %></p>
	<div class="container">
		<h1 class="bg-info" align="center">재고 리스트</h1>
	</div>
	
	<div class="container">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>재고품명</th>
					<th>생성일</th>
      				<th>Input ID</th>
      				<th>Category ID</th>
      				<th>메모</th>
      				<th colspan="1"></th>
    			</tr>
			</thead>
			<tbody>
				<% @inventories.each do |inventory| %>
      				<tr>
      					<td><%= inventory.iname %></td>
      					<td><%= inventory.created_at.strftime( '%Y년 %m월 %d일' ) %></td>
        				<td><%= inventory.inputID %></td>
        				<td><%= inventory.category_id %></td>
        				<td><%= inventory.text %></td>
        				<td align="right"><button type="button" class="btn btn-success"><%= link_to '수정', edit_inventory_path(inventory) %></button>
        					  <button type="button" class="btn btn-warning"><%= link_to '삭제', inventory, method: :delete, data: { confirm: '정말 삭제하시겠습니까?' } %></button></td>
      				</tr>
    			<% end %>
			</tbody>
		</table>
	</div>
	<br>
	<button type="button" class="btn btn-default"><%= link_to '재고 등록', new_inventory_path %></button> | <button type="button" class="btn btn-default"><%= link_to '카테고리 보기', '/categories' %></button>