<div class="container">
	<p id="notice"><%= notice %></p>
</div>

<div class="container">
	<h1 class="bg-info" align="center"><%= @inventory.iname %></h1>
</div>

<div class="container">
	<h3>정보 입력</h3>
	<p>정보 입력 시 반드시 <strong style="color: red">입고나 출고 중량</strong> 중에 한 가지는 입력하셔야 합니다.</p>
	<%= form_for([@inventory, @inventory.products.build]) do |f| %>
	<%= f.label :productnameset_ids, "생산품 선택" %>
	<%= f.select :productnameset_ids, Productnameset.all.pluck(:productname, :id), {}, { multiple: true, class: "selectize" } %>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>생산품명</th>
					<th>입고량</th>
					<th>출고량</th>
					<th>비 고</th>
					<th>날 짜</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><%= f.text_field :pname, class: "p_pname" %></td>
					<td><%= f.number_field :puchase_kg %></td>
					<td><%= f.number_field :release_kg %></td>
					<td><%= f.text_field :memo %></td>
					<td><%= f.datetime_select :created_at, :include_seconds => true, start_year: 1999 %></td>
				</tr>
			</tbody>
		</table>
	  <div align="right" class="actions">
	  	<button type="submit" class="btn btn-success"> 저 장 </button>
			<a href="/inventories"><button type="button" class="btn btn-default">뒤로 가기</button></a>
	  </div>
	<% end %>
</div>
<div class="container">
	<h2>재고에 대한 정보</h2><p><mark>입/출/재고 단위는 kg</mark></p>
		<table class="table table-hover">
  		<thead>
  			<tr>
  				<th>날짜</th>
<!--  				<th>생산품ID</th>	# 개발을 위한 ID확인		-->
		  		<th>생산품명</th>
		  		<th>입고량</th>
		  		<th>출고량</th>
		  		<th>재고량</th>
<!--  	  		<th>예상횟수</th> # 차후 기능추가 예상
		  		<th>사용량</th>		-->
		  		<th>비 고</th>
		  		<th></th>
	  		</tr>
  		</thead>
  		<tbody>
				<% @products.each do |product| %>
				  <tr>
				  	<td><%= product.created_at.strftime( '%Y년 %m월 %d일' ) %></td> <!-- .strftime( '%Y년 %m월 %d일 %H:%M:%S' ) -->
<!--				  	<td><%= product.id %></td>	# 개발을 위한 ID확인		-->
				  	<td><%= product.pname %></td>
				  	<td><%= product.puchase_kg %></td>
				  	<td><%= product.release_kg %></td>
				  	<td><%= product.stock_kg %></td>
<!--				  	<td><%= product.predict %></td> # 차후 기능추가 예상
				  	<td><%= product.month_avg %></td>		-->
				  	<td><%= product.memo %></td>
				    <td><button type="button" class="btn btn-warning btn-xs"><%= link_to '생산품 삭제', [product.inventory, product], method: :delete, data: { confirm: '정말 삭제하시겠습니까?' } %></button></td>
				  </tr>
				<% end %>
			</tbody>
  	</table>
		<a id="MOVE_TOP_BTN" href="#">TOP</a>
</div>
