<h1>Product Import</h1>
<p>CSV파일 또는 Excel파일로 Products의 Record를 등록합니다.</p>
<p>아래는 Products테이블의 컬럼 유형입니다.</p>

<!-- Products 테이블의 컬럼 타입을 보여준다. -->
<ul>
  <% Product.columns.each do |column| %>
    <% if column.name.in? ["id", "pname", "puchase_kg", "release_kg", "stock_kg", "predict", "month_avg", "memo", "inventory_id", "created_at", "updated_at"] %>
      <li>
        <strong><%= column.name %></strong> -
        <%= column.type.to_s.titleize %> type
      </li>
    <% end %>
  <% end %>
</ul>

<p>만약 <strong>id</strong>가 제공되면 새로운 레코드를 만드는 대신 일치하는 레코드를 업데이트합니다.</p>

<!-- Import관련 폼 : Import error시 출력할 메시지 -->
<%= form_for @product_import do |f| %>
  <% if @product_import.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product_import.errors.count, "error") %> Import 작업을 수행할 수 없습니다.:</h2>
      <ul>
      <% @product_import.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<!-- 파일 선택 및 Import버튼 -->
  <div class="field">
    <%= f.file_field :file %>
  </div>
  <div class="buttons"><%= f.submit "Import" %></div>
  <% end %>
<!-- impoert 페이지가 열리면서 product_imports_controller의 new를 액션 -->
<!-- Import 버튼을 클릭하는 동시 create를 액션 -->
