<% @products.each do |product| %>
        <tr>
        	<td><%= product.created_at %></td>
  			<td><%= product.id %></td>
	  		<td><%= product.pname %></td>
	  		<td><%= product.puchase_kg %></td>
	  		<td><%= product.release_kg %></td>
	  		<td><%= product.stock_kg %></td>
	  		<td><%= product.predict %></td>
	  		<td><%= product.month_avg %></td>
	  		<td><%= product.memo %></td>
	  		<td><button type="button" class="btn btn-warning"><%= link_to 'Destroy Product', [product.inventory, product], :confirm => 'Are you sure?',:method => :delete %></button></td>
  		</tr>
<% end %>
